/*-------------------/
  @ Reset
/-------------------*/

*           { margin:0;padding:0;border:0;outline:0;text-decoration:none;font-weight:inherit;font-style:inherit;color:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style:none;border-collapse:collapse;border-spacing:0; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
*:focus     { outline: none}
::selection { background: #eee; opacity:1.0; color:#000; padding:10px; /* Safari */ }