/* DIN */

@font-face {
    font-family: 'din_regular';
    src: url('../media/fonts/din_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din_bold';
    src: url('../media/fonts/din_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din_light';
    src: url('../media/fonts/din_light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din_medium';
    src: url('../media/fonts/din_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Playfair */

@font-face {
    font-family: 'playfair_regular';
    src: url('../media/fonts/playfair_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_bold';
    src: url('../media/fonts/playfair_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_black';
    src: url('../media/fonts/playfair_black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_black_italic';
    src: url('../media/fonts/playfair_black_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Lora */

@font-face {
    font-family: 'lora_regular';
    src: url('../media/fonts/lora_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lora_bold';
    src: url('../media/fonts/lora_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lora_italic';
    src: url('../media/fonts/lora_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lora_bold_italic';
    src: url('../media/fonts/lora_bold_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Input */

@font-face {
    font-family: 'input_mono_regular';
    src: url('../media/fonts/input_mono_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'input_mono_medium';
    src: url('../media/fonts/input_mono_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Abel */

@font-face {
    font-family: 'abel_regular';
    src: url('../media/fonts/abel_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'frank_ruhl_black';
    src: url('../media/fonts/frank_ruhl_black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'frank_ruhl_bold';
    src: url('../media/fonts/frank_ruhl_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'frank_ruhl_light';
    src: url('../media/fonts/frank_ruhl_light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'frank_ruhl_medium';
    src: url('../media/fonts/frank_ruhl_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'frank_ruhl_regular';
    src: url('../media/fonts/frank_ruhl_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

