body { background:#f8f8f8; font-family: 'input_mono_medium'; font-size: 12px; }
body navi { display: block;height: calc(100vh - 60px);width: calc(20vw);border-right: 1px solid #eee;left: 0px;position: absolute;padding: 30px;color: #333; -webkit-user-select: none;-webkit-app-region: drag;}
body navi li { display: block;line-height: 20px;cursor: pointer; position: relative; text-transform: uppercase;}
body navi li:hover::before { content:">"; position: absolute; left:-15px;}
body navi li.note { padding-left:7px; color:#999; text-transform: capitalize;}
body navi li span { float:right; }
body stats { display: block;border-bottom: 0px;color: #999;margin-top: 30px;position: absolute;bottom:10px;left: calc(20vw + 91px);line-height: 40px;width: calc(80vw - 121px);height:40px;overflow: hidden }
body stats .right { float:right; }
body stats b { background:#ccc; color:#f8f8f8;}
body stats i { text-decoration: underline; }
body textarea { padding: 30px;height: calc(100vh - 60px);display: inline-block;color: black;width: calc(80vw - 91px);position: absolute;left: calc(20vw + 61px);line-height: 20px;resize: none; background:transparent; overflow: hidden;}
body scrollbar { display: block; background:#ccc; width:1px; height:0px; position:fixed; left:calc(20vw + 60px); top:0px; }
::selection { background:#ddd; color:#000; opacity:1.0;}

body.noir { background:#111; }
body.noir navi{ background: #111; color:#ccc; border-right: 1px solid #222; }
body.noir textarea { color:#eee; }
body.noir stats { }
body.noir stats b { background:#111; }
body.noir scrollbar { background:#ccc;  }
body.noir ::selection { background:#888; color:#fff; opacity:1.0;}

body.pale { background:#555; }
body.pale navi{ color:#777; border-right: 1px solid #666; }
body.pale textarea { color:#ccc; }
body.pale stats b { background:none; }
body.pale scrollbar { background:#999;  }
body.pale ::selection { background:#aaa; color:#fff; opacity:1.0;}

body.turbo { background:#72dec2; }
body.turbo navi{ background: rgba(255,255,255,0.1); color:#f8f8f8; border-right: 1px solid rgba(255,255,255,0.1); }
body.turbo navi li { font-weight:600; line-height: 30px;}
body.turbo navi li.note { color:#2c584d; font-weight:400; line-height:20px; font-size:11px}
body.turbo textarea { background:#72dec2; color:#f8f8f8; text-shadow: 0 .5px 1px rgba(0,0,0,0.15)}
body.turbo stats { color:#2c584d }
body.turbo stats b { background:#111; }
body.turbo scrollbar { background:#111;  }
body.turbo ::selection { background:rgba(0,0,0,.5); color:#fff; opacity:1.0;}

body.punk { background:#000; }
body.punk navi{ color:#28FC91; font-weight:600; border-right: 1px solid rgba(40,252,145,1); }
body.punk navi li.note { color:#28FC91; font-weight:400; line-height:20px; font-size:11px}
body.punk textarea { color:#28FC91; }
body.punk stats { color:rgb(0,255,255) text-shadow: 0 1px 5px #00FFFF; }
body.punk stats b { background:rgba(0,0,0,0); color:#FF0000; text-shadow: 0 1px 5px #ff0000; }
body.punk scrollbar { background:#FFF;  }
body.punk ::selection { background:#888; color:#fff; opacity:1.0;}
