body { background:#f8f8f8; font-family: 'input_mono_medium'; font-size: 12px; overflow-y: hidden}
body navi { display: block;width: calc((100vw / 6));left: 0px;position: absolute;padding: 30px;color: #333; -webkit-user-select: none;-webkit-app-region: drag; overflow-y: hidden; padding-top:90px;}
body navi li { display: block;line-height: 20px;cursor: pointer; position: relative; text-transform: uppercase; -webkit-app-region: no-drag;}
body navi li:hover::before { content:">"; position: absolute; left:-15px;}
body navi li.note { padding-left:7px; color:#999; text-transform: lowercase;}
body navi li.active::before { content:":"; position: absolute; left:-15px; }
body navi li span { float:right; }
body stats { display: block;border-bottom: 0px;color: #999;margin-top: 30px;position: fixed;bottom:10px;left: calc(20vw + 60px - 24px);line-height: 40px;width:540px;height:40px;overflow: hidden; padding-left:30px; }
body stats .right { float:right; }
body stats b { color:#000; font-family: 'input_mono_regular';}
body stats i { text-decoration: underline; }
body textarea { padding: 90px 30px 0px; height: calc(100vh - 60px);display: block;color: black;width: 540px;position: fixed;left: calc((100vw / 6) + 60px);line-height: 20px;resize: none; background:transparent; overflow: hidden; max-width:560px; }
body scrollbar { display: block; background:#ccc; width:1px; height:1px; position:fixed; left:0; bottom:0px; }
div {width: 480px;line-height: 20px;font-family: 'input_mono_medium'; font-size: 12px;white-space: pre-wrap; word-wrap:break-word}
::selection { background:#ddd; color:#000; opacity:1.0;}

body.mobile navi { display:none; }
body.mobile textarea { left: calc(50vw - 270px) }
body.mobile stats { left: calc(50vw - 270px); -webkit-app-region: drag; }